<%#
#==============================================================================
# Copyright (C) 2019-present Alces Flight Ltd.
#
# This file is part of Flight Desktop Server.
#
# This program and the accompanying materials are made available under
# the terms of the Eclipse Public License 2.0 which is available at
# <https://www.eclipse.org/legal/epl-2.0>, or alternative license
# terms made available by Alces Flight Ltd - please direct inquiries
# about licensing to licensing@alces-flight.com.
#
# Flight Desktop Server is distributed in the hope that it will be useful, but
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, EITHER EXPRESS OR
# IMPLIED INCLUDING, WITHOUT LIMITATION, ANY WARRANTIES OR CONDITIONS
# OF TITLE, NON-INFRINGEMENT, MERCHANTABILITY OR FITNESS FOR A
# PARTICULAR PURPOSE. See the Eclipse Public License 2.0 for more
# details.
#
# You should have received a copy of the Eclipse Public License 2.0
# along with Flight Desktop Server. If not, see:
#
#  https://opensource.org/licenses/EPL-2.0
#
# For more information on Flight Desktop Server, please visit:
# https://github.com/alces-flight/flight-desktop-server
#==============================================================================
%>
<div class="sessions container-fluid">
  <div class="row">
    <div class="col">
      <div class="jumbotron">
        <div class="row">
          <div class="col">
            <h1 class="display-4">Desktops for <i><%= @user %></i></h1>
          </div>
        </div>
        <div class="row">
          <div class="col-10">
            <p class="lead">
              Your desktop sessions are shown below. Use the <i>Connect</i> button to establish a connection to a desktop session or the <i>Terminate</i> button to shutdown a desktop session.  Use the <i>Launch</i> button to start a new desktop session.
            </p>
          </div>
          <div class="col">
            <a href="/<%= @user %>/launch" class="btn-disableable btn btn-success btn-block">
              <i class="fa fa-rocket"></i>
              <span>Launch</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <% if @sessions.empty? %>
    <div class="col">
      <h3 class="text-muted">No sessions found.</h3>
    </div>
    <% end %>
    <% @sessions.each do |s| %>
    <div class="col-sm-6 col-lg-4">
      <div class="card mb-2 border-primary">
        <h5 class="card-header bg-primary text-light"><%= s.name %></h5>
        <div class="card-body">
          <div class="row mb-2">
            <div class="col">
              <img class="mw-100" src="data:image/png;base64,<%= s.image %>" />
            </div>
          </div>
          <div class="row">
            <div class="col">
              <dl>
                <dt>
                  Started at
                </dt>
                <dd>
                  <%= s.ctime %>
                </dd>
                <dt>
                  Last access
                </dt>
                <dd>
                  <%= s.mtime %>
                </dd>
              </dl>
            </div>
          </div>
          <div class="row justify-content-center">
            <% if s.state == 'Active' %>
            <div class="col-6">
              <button data-session="<%= h(json_for(s)) %>" class="btn btn-primary btn-block">
                <i class="fa fa-bolt"></i>
                <span>Connect</span>
              </button>
            </div>
            <div class="col-6">
              <a href="/<%= @user %>/terminate/<%= s.uuid %>" class="btn-disableable btn btn-danger btn-block">
                <i class="fa fa-trash"></i>
                <span>Terminate</span>
              </a>
            </div>
            <% else %>
            <div class="col-6">
              <a href="/<%= @user %>/clean/<%= s.uuid %>" class="btn-disableable btn btn-warning btn-block">
                <i class="fa fa-trash"></i>
                <span>Clean</span>
              </a>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

<div class="container-fluid overflow-auto desktop d-none">
  <div class="row no-gutters">
    <div class="col">
      <div class="card border-primary">
        <div class="card-header bg-primary text-light">
          <div class="row no-gutters">
            <div class="col">
              <h5 id="desktop-title">Desktop</h5>
            </div>
            <div class="col-2">
              <button class="disconnect btn btn-secondary btn-sm btn-block">
                <i class="fa fa-times"></i>
                <span>Disconnect</span>
              </button>
            </div>
          </div>
        </div>
        <div class="card-body card-body--screen">
          <div id="screen">
            <!-- This is where the remote screen will appear -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
